<html lang="en">
  <head>
      <link rel="stylesheet" href="{{ url_for('index.pygments_css') }}">
        {% block head %}
          <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

          {% block styles %}
              <!-- Bootstrap CSS -->
              {{ bootstrap.load_css() }}
          {% endblock %}

          {{ bootstrap.load_js() }}

      {% endblock %}
</head>
<body>
  <title>{% block title %}{% endblock %}</title>

  {% include 'includes/navigation.html' %}

  <div class='container-lg mt-5 mb-5 ml-5 mr-5' id='content'>
    <div>
      {% block content %}{% endblock content %}
    </div>
  </div>


</body>
</html>
