{% extends "layouts/base.html" %}
{% from 'bootstrap5/pagination.html' import render_pagination, render_pager %}

{% block title %}{{ typename }} / {{ name }} {% endblock %}

{% block content %}
<h1>{{ typename }} / {{ name }}</h1>

<div class="overflow-auto" style="max-height: 600px;">
{{ table | safe }}
</div>


{% if items%}
    <h1>Images</h1>
    {{ render_pagination(pagination) }}
    <div class='container-lg'>
            <div class='row table-responsive'>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        {% for c in items[0].keys() %}
                            {% if c != 'id'%}
                                <th>{{ c }}</th>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                    <tr>
                    {% for k, v in item.items() %}

                        {% if k != 'id'%}
                            {% if k == 'uri'%}
                                <td><a href="/item/{{ item['id'] }}">{{ '...' + v[-20:] }}</i></a></td>
                            {% else %}
                                <td>{{ v }}</td>
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>

    {{ render_pagination(pagination) }}
{% endif %}

{% endblock %}
