{% extends "layouts/base.html" %}

{% block title %}Item Preview {% endblock %}

{% block content %}
<h1>Item Preview</h1>

<div class="container">
  <div class="row">
    <div class="col">
      {{ table | safe }}
    </div>
    <div class="col">
      <div id="item" class="item"></div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}

{% if graph_json %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
      var graphs = {{graph_json | safe}};
      Plotly.plot('item',graphs,{});        
  </script>
{% endif %}

{% endblock %}
