    <footer class="footer pt-3 pb-3 bg-dark text-white">
        <div class="container">
            <hr class="bg-secondary my-3 my-lg-5">
            <div class="row">
                <div class="col mb-md-0">
                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="fw-normal font-small mb-0">
                            Footer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
